In [1]:
%%time
import importlib
import pipeline
importlib.reload(pipeline)

cnd = pipeline.CND()

print([name for name in cnd.nlp.pipe_names])

['tagger', 'parser', 'ner', 'Named Entity Matcher', 'merge_entities', 'Concept Matcher', 'group id']
Wall time: 44.1 s

In [ ]:
%%time
import os
import importlib
import cndobjects
importlib.reload(cndobjects)


dirpath = r'C:\\Users\\Steve\\OneDrive - University of Southampton\\CNDPipeline\\dataset'

orators = cndobjects.Dataset(cnd, dirpath)

text = "On my orders, the United States military has begun strikes against Al Qaeda terrorist training camps and military installations of the Taliban regime in Afghanistan."
doc = cnd(text)

# display(orators.summarise())
# display(orators["laden"].summarise())
# display(orators.text_summarise())

In [ ]:
# import pandas as pd
import visuals
importlib.reload(visuals)

# text = "On my orders, the United States military has begun strikes against Al Qaeda terrorist training camps and military installations of the Taliban regime in Afghanistan."
# doc = cnd(text)

# # doc = orators["bush"][4].doc

# print([t for t in doc if t._.outgroup])
# print(doc._.outgroup_entities)
# print(doc._.ingroup_entities)

# df = []
# df.append(list(doc._.custom_chunks))
# df.append([chunk._.CONCEPT for chunk in doc._.custom_chunks])
# df.append([chunk._.ATTRIBUTE for chunk in doc._.custom_chunks])
# df.append([chunk._.IDEOLOGY for chunk in doc._.custom_chunks])

# display(pd.DataFrame(df))

visuals.heatmap(orators["bush"].ideologies)

In [ ]:
import importlib
import hpspacy
importlib.reload(hpspacy)

h = hpspacy.hearst_patterns(cnd.nlp)

for doc in orators["king"]:
    print(h.find_hyponyms(doc.doc))
    
    
# h.find_hyponyms(orators["bush"][4].doc)

In [ ]:
print(hyps)
print(hyps[0][0].ent_type_)

In [6]:
from cndutils import dict_to_jsonl
import os

path = 'C:\\Users\\Steve\\OneDrive - University of Southampton\\CNDPipeline\\dataset'
files = [file for file in os.listdir(path) if "json" in file]

for file in files:
    dict_to_jsonl(path, file)

writing to path: C:\Users\Steve\OneDrive - University of Southampton\CNDPipeline\Obj 1 - detect ingroup and outgroup of a text
from laden_ingroup_sents.json, wrote 41 records to laden_ingroup_sents.jsonl

writing to path: C:\Users\Steve\OneDrive - University of Southampton\CNDPipeline\Obj 1 - detect ingroup and outgroup of a text
from laden_outgroup_sents.json, wrote 113 records to laden_outgroup_sents.jsonl

In [13]:
import jsonlines
import os
import pandas as pd

path = 'C:\\Users\\Steve\\OneDrive - University of Southampton\\CNDPipeline\\dataset'

with jsonlines.open(os.path.join(path, "cust_chunks2.jsonl")) as f:
    chunks = list(f.iter())
    
n = 0
df1 = pd.DataFrame(chunks[n]["orig_chunks"])
df2 = pd.DataFrame(chunks[n]["new_chunks"])
    
display(pd.concat([df1, df2]).T)

,text,root,idx,concept,attribute,ideology,text,root,idx,concept,attribute,ideology,notes
0,this trial,trial,2,,,,trial,trial,2,LEGALENTITY,entity,legal,remove det
1,we,we,4,,,,we,we,4,SELF,ingroup,social,
2,the world,world,10,,,,world,world,10,PLACE,entity,social,remove det
3,our fellow americans,americans,16,,,,fellow americans,americans,16,,,,remove det. create new named entity. fellow = ...